{% extends "_base.html" %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
    <div class="book-detail">
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <div>
            <h2>Reviews</h2>
            <ul>
                {% for review in book.reviews.all %}
                    <li>{{ review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
